lxml
mysql-connector-python
numpy
openpyxl
pandas
Pillow
pypdfium2
pytesseract
python-dateutil
pyyaml>=6.0
requests
streamlit>=1.34
urllib3
xlsxwriter
pdfplumber
pdf2image
jellyfish
sqlalchemy
pymysql
